@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

*{
	padding: 0;
	margin: 0;
	color: white;
	font-family: 'VT323', monospace, Consolas, sans-serif;
}

html{
		height: 100vh;
		max-height: 100vh;
	}

body{ 
	background-color: black; 
	background-image: url("../img/bg.png");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

.align{
	width: 95%;
	max-width: 960px;
	margin: 0 auto;
}

/* Nav Bar*/
#menu{
	list-style: none;
	margin-top: 28px;
	text-align: center;
}

#menu a{ 
	text-decoration: none; 
	position: relative;
}

#menu span{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -4px;
	transform: translate(-50%, -50%);
	transition: all 0.1s ease-in;
	visibility: hidden;
	z-index: -1;
}

#menu span img{
	width: 32px;
}

#menu a:hover span{
	visibility: visible;
	margin-top: -16px;
}

#menu li{
	display: inline-block;
	margin: 0 12px;
	font-size: 18px;
	color: inherit;
	padding-bottom: 4px;
	background-color: black;
	text-transform: uppercase;
}

.active{ color: yellow; }

#head{ 
	border-bottom: 2px solid; 
	position: fixed;
	width: 100%;
	margin-left: 50%;
	transform: translate(-50%);
	background-color: rgba(0,0,0,1);
	z-index: 10;
	user-select: none;
}

#head nav{
	display: flex;
	justify-content: space-between;
	height: 64px;
}

#logo{
	margin: auto 0;
}

#logo img{
	height: 50px;
}

.title{
	font-weight: normal;
	font-size: 48px;
	margin-bottom: 16px;
	text-transform: uppercase;
}

.title2{
	font-weight: normal;
	font-size: 24px;
	margin-bottom: 4px;
	text-transform: uppercase;
}

main{
	position: relative;
	padding: 24px 0;
	top: 64px;
}

.whitebox{
	border: 2px solid;
	background-color: rgba(0,0,0,0.7);
}

@media (max-width: 960px){
	main{
		top: 48px;
	}

	#logo{
		display: none;
	}
	
	#head{
		background-color: rgba(0,0,0,0.8);
	}
	
	#menu{
		margin: auto;
	}
	
	#menu a{
		margin: 0 4px;
		box-sizing: border-box;
	}

	#menu li{
		margin: 0;
		font-size: 5.2vw;
		padding: 0;
		background-color: transparent;
	}

	#menu span{
		display: none;
	}

	.title{
		font-size: 9vw;
		margin-bottom: 8px;
		text-align: center;
	}

}